@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600&display=swap');

@font-face {
  font-family: 'Millimeter';
  src: url('/font/Millimetre-Regular.woff');
  font-weight: 400;
  font-style: normal;
  }
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Encode Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.millimeter{
  font-family: Millimeter;
}

img {
  max-width: 100%;
  height: auto;
}

